</div><!-- #container -->
<div id="footer">
	Mars Rover Media API (MRMA) is maintained by <a href="//github.com/isfinite">Lauren Smith</a>
</div>
<script type="text/javascript" src="http://mars-rover-media-api.nodejitsu.com/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/assets/js/aggregated.min.js"></script>
<script>
var mrmFE = angular.module('mrmFE', ['uiSlider']);
</script>
<script type="text/javascript" src="/public/controllers/head.js"></script>
{{#module}}
<script type="text/javascript" src="/public/controllers/{{.}}.js"></script>
{{/module}}
</body>
</html>