<!doctype html>
<html ng-app="mrmFE">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>{{appName}} - {{title}}</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link rel="stylesheet" href="/assets/css/aggregated.css">
	<script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/assets/js/aggregated.js"></script>

	{{#module}}
	<script type="text/javascript" src="/public/controllers/{{.}}.js"></script>
	{{/module}}
</head>

<body>
	<div id="mast">
		Mars Rover Media API {MRMA}
	</div>